venv
.idea
__pycache__


# Exclude everything
Output Files/*
# Exception to the rule
!Output Files/.gitkeep
!Output Files/Topo Adjusted Files/.gitkeep
!Output Files/Difference Results/.gitkeep
!Output Files/Running Averages/.gitkeep

#Exclude everything
Input Files/
#Exception to the rule
!Input Files/.gitkeep

